.header {
  z-index: 4;
  background-color: $main-black;
  top: 0;
  width: 100%;
  position: fixed;
  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    &-title {
      font-family: "Involve";
      font-weight: 400;
      color: $white-color;
      text-decoration: none;
      text-align: center;
    }
  }
  &__menu {
    align-items: center;
    box-sizing: border-box;
    &-list {
      display: flex;
      list-style-type: none;
      margin: 0;
    }
    &-item {
      a {
        text-decoration: none;
        color: $white-color;
        &:hover {
          color: $hover;
        }
        &:active {
          color: $active;
        }
      }
      opacity: 60%;
    }
    &-btn {
      font-family: "Evolventa";
      cursor: pointer;
    }
  }
}
